/*Paleta de colores*/
:root {
  --principal: #e23636;
  --black: #000000;
  --secondary: #518cca;
  --third: #f78f3f;
  --complemetary: #504a4a;
}

/*Configuraciones globales*/
header {
  background-color: black;
}

nav {
  background-color: var(--complemetary);
  height: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
}

a{
  color: inherit; 
  text-decoration: none; 
}

/*Clses*/
.card {
  margin-right: 10px;
}

.title-1{
  text-align: center;
  font-size: 3rem;
}